body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', 'Arial', 'Helvetica', 'sans-serif';
    margin: 0;
}

button {
    min-width: 100px;
    max-height: 41px;
}

.top,
.footer {
    background-color: #1F2937;
}

.top {
    display: flex;
}

.top .filler {
    flex: 1;
}

.top .content {
    flex: 5;
    width: 1000px;
    display: flex;
    flex-direction: column;
}

.header {
    margin-top: 20px;
    display: flex;
}

.header .logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

.header .links {
    display: flex;
    gap: 30px;
}

.top .hero {
    display: flex;
    margin: 80px 0 80px;
    min-width: 700px;
}

.hero .text {
    flex: 12;
    display: flex;
    flex-direction: column;
    margin-right: 40px; 
}

.hero .text .main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 10px;
}

.hero .text .sub,
.header .links {
    font-size: 18px;
    color: #E5E7EB;
}

.hero .sign-up {
    background-color: #3882F6;
    border: #3882F6 solid;
    color: white;
    font-weight: bolder;
    padding: 4px 0px 4px;
    border-radius: 8px;
    width: 100px;
    height: 41px;
    margin-top: 10px;
}

.hero .image-container {
    flex: 10;
    min-width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    color: #1F2937;
    opacity: 50%;
}

.hero .image {
    flex: 1;
    text-align: center; 
}

.random-information {
    display: flex;
}

.random-information > .filler {
    flex: 1;
}

.random-information > .content {
    flex: 4;
    width: 1300px;
    display: flex;
    flex-direction: column;
}

.random-information .header-container {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 40px 0 40px;
}

.random-information .squares {
    display: flex;
    margin-bottom: 60px;
}

.random-information .container {
    display: flex;
    justify-content: center;
}

.squares .container {
    flex: 1;
    display: flex;
}

.squares .square-content {
    flex: 2;
    color: #8d95a0;
}

.random-information .square {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border: solid #3882F6;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.squares .filler {
    flex: 1;
    min-width: 12px;
}

.square .text {
    text-align: center;
}

.squares .subtext {
    text-align: center;
    margin-top: 4px;
}

.inspiring-quote {
    background-color: #E5E7EB;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 200px 0;
    min-height: 400px;
}

.inspiring-quote > .quote-container {
    margin: 100px 0 100px;
    min-width: 550px;
}

.inspiring-quote .quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.inspiring-quote .author {
    text-align: right;
    color: #1F2937;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 16px;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
}

.call-to-action .call-container {
    background-color: #3882F6;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 40px 160px 40px;
    box-sizing: border-box;
    border-radius: 20px;
    min-width: 550px;
    max-width: 1000px;
}

.call-to-action .inner-container {
    display: flex;
    flex: 1;
    min-width: 530px;
}

.call-to-action .text {
    color: white;
    margin-right: 30px;
    margin-right: auto;
}

.call-to-action .text .call {
    font-weight: bold;
    font-size: 20px;
}

.call-to-action .text .sub {
    font-weight: lighter;
}

.call-to-action .sign-up {
    flex: 0;
    background-color: #3882F6;
    padding: 4px 0px 4px;
    border-radius: 8px;
    color: white;
    font-weight: bolder;
    border: white solid;
    border-width: 2px;
    width: 100px;
    height: 41px;
}

.footer {
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.footer .footer-content {
    color:#b2b7bd;
    min-width: 320px;
    font-size: 20px;
}